<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alisa.lswitch" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.alisa.lswitch.SwitchListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alisa.lswitch.SettingsActivity"
            android:label="@string/action_settings">
        </activity>

        <provider
            android:name=".database.DevicesContentProvider"
            android:authorities="com.alisa.lswitch.devicesprovider"
            android:exported="false">
        </provider>
        <service
            android:name=".service.DeviceListService"
            android:exported="false"/>
    </application>

</manifest>
